{% render "partials/head.liquid" %}

<header>
    <a href="/"><img src="/assets/PokemonLogo.svg" class="poke-logo" width="300px"></a> 
    <a href="/" class="back-button"> ← Back to all pokemon</a> 
    <h1>{{ detailsOfPokemon.name | capitalize }}</h1>

    <h2> {{ detailsOfPokemon.id | prepend: '000' | slice: -3, 3 }} </h2>
    <img class="poke-sprite-detail" src="{{ detailsOfPokemon.sprite }}" height="100" width="100" alt="picture {{ pokemon.name }}" >
</header>

<main class="main-detail">
    <section class="about">
        <h2 class="tab-h2">About</h2>
        <dl class="details-grid">
            <dt>Name</dt>
            <dd> {{ detailsOfPokemon.name | capitalize }} </dd>

            <dt>ID</dt>
            <dd> {{ detailsOfPokemon.id }} </dd>

            <dt>Base XP</dt>
            <dd> {{ detailsOfPokemon.xp }} xp </dd>

            <dt>Weight</dt>
            <dd> {{ detailsOfPokemon.weight }} g </dd>

            <dt>Height</td>
            <dd> {{ detailsOfPokemon.height }} cm </dd>

            <dt>Type</dt>
            <dd> {{ detailsOfPokemon.types | join: " & " | capitalize }} </dd>

            <dt>Abilities</dt>
            <dd> {{ detailsOfPokemon.abilities | join: " / " |  capitalize }} </dd>
        </dl>

    </section>

    <section class="stats">
        <h2 class="tab-h2">Stats</h2>
        <dl class="details-grid">
            <dt>HP</dt>
            <dd> {{ detailsOfPokemon.hp }} </dd>

            <dt>Attack</dt>
            <dd> {{ detailsOfPokemon.attack }} </dd>

            <dt>Defense</dt>
            <dd> {{ detailsOfPokemon.defense }} </dd>

            <dt>Special attack</dt>
            <dd> {{ detailsOfPokemon.specialAttack }} </dd>

            <dt>Special defense</dt>
            <dd> {{ detailsOfPokemon.specialDefense }} </dd>

            <dt>Speed</dt>
            <dd> {{ detailsOfPokemon.speed }} </dd>
        </dl>
    </section>

    <section class="evolutions">
        <h2 class="tab-h2">Evolutions</h2>
    </section>

</main>

<!-- {% render "partials/footer.liquid" %} -->