{% render "partials/head.liquid" %}

<header class="header-main">
    <a href="/"><img src="/assets/PokemonLogo.svg" class="poke-logo" width="300px"></a> 
    <h1>All Pokémon</h1>

    <form method="get" action="/search" class="search-bar">
        <input type="search" name="p" value="{{ p | escape }}" placeholder="Search" required>
        <button class="search-button">
            <img src="/assets/Search.svg" width="25" height="25" alt="start searching">
        </button>
    </form>

    <label>
        <img src="/assets/allPokemon.svg" width="25" height="25" alt="">
        All Pokemon
        <input type="radio" name="display" checked>
    </label>

    <label>
        <img src="/assets/caughtPokemon.svg" width="25" height="25" alt="">
        Caught Pokemon
        <input type="radio" name="display">
    </label>
</header>

<main class="main-index">
        <div class="pokemon-grid">
            {% for pokemon in pokemonDetail %}
                {% assign type = pokemon.types[0] %}
                <a class="pokemon-link type-{{ type }}" href="/{{ pokemon.name }}">
                    {{ pokemon.name | capitalize }}
                    <img class="pokemon-afbeelding-link" src="{{ pokemon.sprite }}" height="75" width="75" alt="{{ pokemon.name }}">
                </a>
                <form method="POST" action="/{{ pokemon.name }}/catch">
                <input type="hidden" name="origin" value="{{ p | default: 'search' }}">
                <button type="submit">
                    <img src="/assets/caughtPokemon.svg" alt="Catch {{ pokemon.name }}">
                </button>
            </form>            {% endfor %}
        </div>
        <button class="load-more">Load more</button>
</main>
<!-- {% render "partials/footer.liquid" %} -->